###필수과제1

In [ ]:
import pandas as pd
import numpy as np
mpg = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/mpg.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##1. append

In [ ]:
# append: 시리즈에 다른 시리즈나 데이터프레임을 추가
newdata = pd.Series(['new'], index = ['NEW INDEX']) 
mpg.cty.append(newdata) #mpg.cty Series에 newdata라는 시리즈를 추가해 붙인다

<ipython-input-12-708ed9a1c6ef>:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mpg.cty.append(newdata)

0             18
1             21
2             20
3             21
4             16
            ...
230           21
231           16
232           18
233           17
NEW INDEX    new
Length: 235, dtype: object

## 2. describe

In [ ]:
# describe: 시리즈의 기초 통계량을 요약해서 보여줌
mpg.cty.describe()

count    234.000000
mean      16.858974
std        4.255946
min        9.000000
25%       14.000000
50%       17.000000
75%       19.000000
max       35.000000
Name: cty, dtype: float64

## 3. drop_duplicates

In [ ]:
## drop_duplicates: 시리즈에서 중복된 값을 제거
mpg.cty.drop_duplicates() #unique한 값만 나타나는것을 확인할 수 있음

0      18
1      21
2      20
4      16
10     19
11     15
12     17
18     14
19     11
21     13
22     12
33     22
54      9
99     28
100    24
101    25
102    23
104    26
212    33
221    35
222    29
Name: cty, dtype: int64

## 4. get_values

In [ ]:
#get_values: 시리즈의 값들을 넘파이 배열로 반환
mpg.cty.get_values() #오류: get_values() 메서드는 더이상 사용되지 않음. 대신 to_numpy 사용

AttributeError: ignored

In [ ]:
mpg.cty.to_numpy

<bound method IndexOpsMixin.to_numpy of 0      18
1      21
2      20
3      21
4      16
       ..
229    19
230    21
231    16
232    18
233    17
Name: cty, Length: 234, dtype: int64>

##5. isin

In [ ]:
#isin: 시리즈의 값들이 주어진 값인지 여부를 반환
mpg.cty.isin([np.nan]) #각 값들이 NaN인지 여부를 반환하는 시리즈 출력됨

0      False
1      False
2      False
3      False
4      False
       ...
229    False
230    False
231    False
232    False
233    False
Name: cty, Length: 234, dtype: bool

## 6. 기초통계량(mean, max, min, sum, var)

In [43]:
print('Mean is',mpg.cty.mean()) #mean: 평균
print('Max is', mpg.cty.max()) #max: 최댓값
print('Min is', mpg.cty.min()) #min: 최솟값
print('Sum is', mpg.cty.sum()) #sum; 합
print('Variance is',mpg.cty.var()) #var: 분산

Mean is 16.858974358974358
Max is 35
Min is 9
Sum is 3945
Variance is 18.11307362165731

## 7.equals

In [45]:
#equals: 시리즈와 다른 시리즈나 데이터프레임이 같은지 여부를 반환
cty2 = mpg.cty.copy()
mpg.cty.equals(cty2)

True

##8. sort_values

In [46]:
 #sort_values: 시리즈의 값을 정렬
 mpg.cty.sort_values()

59      9
54      9
69      9
65      9
126     9
       ..
99     28
196    28
222    29
212    33
221    35
Name: cty, Length: 234, dtype: int64

##9. to_frame

In [47]:
#to_frame: 시리즈를 데이터프레임으로 변환
mpg.cty.to_frame()

     cty
0     18
1     21
2     20
3     21
4     16
..   ...
229   19
230   21
231   16
232   18
233   17

[234 rows x 1 columns]