### 필수과제1

In [ ]:
import pandas as pd
import datetime

- 시계열데이터 문법 5가지

- Dateoffset

In [ ]:
# 현재 날짜를 기준으로 특정일 이후의 날짜 계산
current_date = pd.Timestamp('2023-05-26')
future_date = current_date + pd.DateOffset(weeks=1)
print(future_date)

2023-06-02 00:00:00

- offsets.MonthBegin

In [ ]:
# 현재 날짜를 기준으로 다음달의 첫번째 날짜 출력
current_date = pd.Timestamp('2023-05-26')
offset = pd.offsets.MonthBegin()
firstday = current_date + offset
print(firstday)

2023-06-01 00:00:00

- resample('W-MON')

In [ ]:
# W-MON: 달의 첫번째 월요일 출력
crime= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/crime.csv')

crime['REPORTED_DATE']=pd.to_datetime(crime['REPORTED_DATE'])
crime = crime.set_index('REPORTED_DATE')

first_monday = crime.resample('W-MON').first()
first_monday

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-09,50764,theft-shoplift,larceny,-104.847803,39.783106,montbello,1,0
2012-01-16,41316,theft-of-motor-vehicle,auto-theft,-105.066050,39.654299,bear-valley,1,0
2012-01-23,447266,traffic-accident-hit-and-run,traffic-accident,-104.959317,39.780129,elyria-swansea,0,1
2012-01-30,76619,aggravated-assault-dv,aggravated-assault,-104.841603,39.795381,montbello,1,0
...,...,...,...,...,...,...,...,...
2017-09-04,454488,aggravated-assault,aggravated-assault,-104.988714,39.742503,cbd,1,0
2017-09-11,453991,traffic-accident-hit-and-run,traffic-accident,-104.916230,39.703698,washington-virginia-vale,0,1
2017-09-18,454179,violation-of-court-order,all-other-crimes,-104.987724,39.716363,baker,1,0
2017-09-25,453909,traf-other,all-other-crimes,-104.809798,39.783754,montbello,1,0
2017-10-02,455030,theft-items-from-vehicle,theft-from-motor-vehicle,-105.008378,39.756961,highland,1,0

### resample의 인자 코드:

- B: 평일(비즈니스 데이, Business day)


- D: 일일


- W: 주간(일요일을 기준으로 한 주)


- M: 월말


- Q: 분기말


- A: 연말(12월 말)

- resample('B')

In [ ]:
# 영업일만 출력
B = crime.resample('B').first()
B

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-03,50764,theft-shoplift,larceny,-104.847803,39.783106,montbello,1,0
2012-01-04,43222,criminal-mischief-mtr-veh,public-disorder,-104.984681,39.715537,speer,1,0
2012-01-05,354773,theft-items-from-vehicle,theft-from-motor-vehicle,-105.005618,39.734147,lincoln-park,1,0
2012-01-06,445478,theft-items-from-vehicle,theft-from-motor-vehicle,-105.042365,39.708765,westwood,1,0
...,...,...,...,...,...,...,...,...
2017-09-25,460270,traffic-accident,traffic-accident,-105.013229,39.725676,baker,0,1
2017-09-26,455030,theft-items-from-vehicle,theft-from-motor-vehicle,-105.008378,39.756961,highland,1,0
2017-09-27,453082,criminal-mischief-other,public-disorder,-105.036199,39.668181,harvey-park,1,0
2017-09-28,454339,traffic-accident-hit-and-run,traffic-accident,-104.989998,39.728304,lincoln-park,0,1
2017-09-29,455021,threats-to-injure,public-disorder,-104.865172,39.767976,stapleton,1,0

- first

In [ ]:
#위에서 구한 영업일 데이터중 가장 첫번째 날의 데이터를 출력
B.first('D')

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02,47176,violation-of-restraining-order,all-other-crimes,-104.81686,39.796717,montbello,1,0